{{#split-view isVertical=true as |split|}}
  {{#split.child}}
    <div class="tree-area">
      {{path-tree model=folders}}
    </div>
  {{/split.child}}
  {{split.sash}}
  {{#split.child}}
    <div class="images-area">
      {{folder-photos folders=model.folders}}
    </div>
  {{/split.child}}

{{/split-view}}
