{{#split-view isVertical=true as |split|}}
  {{#split.child}}
    <div class="tree-area">
      {{path-tree model=folders}}
    </div>
  {{/split.child}}
  {{split.sash}}
  {{#split.child}}
    <div class="images-area">
      {{#each model.folders as |folder|}}
        {{folder-card root=folder.cwd images=folder.images}}
      {{/each}}
    </div>
  {{/split.child}}
  {{#split.child}}
    <div class="properties-area">
    </div>
  {{/split.child}}

{{/split-view}}
