{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>{{header}}</h2>
    <span class="flex"></span>
    {{#paper-button raised=true}}
      Learn More
    {{/paper-button}}
    {{#paper-button mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}