@import 'ember-paper';
@import 'pods';
@import "auto-image";


.content-area {
  margin-top: 64px;
}
.image-list-view {
  background-color: lightgray;
}
.inline-image {
  div {
    display: inline-block;
  }
}

.thumbnail-frame {
  width: 100px;
  height: 100px
}

.split-view-sash {
  background-color: darkgray;
}

.images-area {
  height: 100%;
  background-color: aliceblue;
}

.tree-area {
  background-color: aliceblue;
  height: 100%;
}
