<div class="layout-column flex">
  <div class="flex">
    {{title-bar title=(t "title")}}
  </div>
  <div class="flex split-view-container {{macosxStyle}}">
    {{#split-view isVertical=true as |split|}}
      {{#split.child class="left-pane"}}
        <div class="tree-area">
        </div>
      {{/split.child}}
      {{split.sash}}
      {{#split.child class="right-pane"}}
          <button {{action "handleLogin"}}> Login </button>
      {{/split.child}}
    {{/split-view}}
  </div>
</div>

