$track-color:  #c99789;
$standard-bgcolor:  #fdf5e6;
$workbench-bgcolor:  #ffe9dc;
$treeview-bgcolor:#ffe9dc; //#fe4a49;
$titlebar-bgcolor: #c99789;
$title-bgcolor: #fff5ee;
$treeview-color: black;

@import "app/pods/components/path-tree/style";
@import "app/pods/components/image-list/style";
@import "app/pods/components/import-photos-dialog/style";
@import "app/pods/components/title-bar/style";
@import "app/pods/components/folder-header/style";
@import "app/pods/index/style";
