$default-font-dark-color: #596e79;
$title-bgcolor: #fff5ee;
$title-bgcolor: #f0ece2;

$track-color:  #c7b198;
$standard-bgcolor:  #dfd3c3;

$treeview-bgcolor:#f0ece2;
$treeview-color: #596e79;

$workbench-bgcolor:  #f0ece2;

$titlebar-bgcolor: #dfd3c3;


@import "app/pods/components/path-tree/style";
@import "app/pods/components/image-list/style";
@import "app/pods/components/import-photos-dialog/style";
@import "app/pods/components/title-bar/style";
@import "app/pods/components/folder-header/style";
@import "app/pods/index/style";
