{{#if isVisible}}
  {{#paper-card}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <span class="flex"></span>
        <h6>
          {{title}}
        </h6>
        <span class="flex"></span>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
  {{/paper-card}}
{{/if}}